/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2021, 12:05:26 PM
    Author     : Nghia 
*/

.orderlist{
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
    background-color: #FE980F;
    color: white;
    font-size: 20px;
}

.w3-bar{
    padding: 3px;
    background-color: #FE980F;
    color: white;
    font-size: 20px;
}

.thAction{
    margin-left: 50px;
}

.btnReiceive{
    color: white;
    padding: 9px 27px;
    border-radius: 5px;
}
.btnDeliver{
    color: white;
    padding: 9px 21px;
    border-radius: 5px;
}
.btnCancel{
    color: white;
    padding: 9px 27px;
    border-radius: 5px;
}
.btnDelete{
    color: white;
    padding: 9px;
    border-radius: 5px;
}
.thead{
    margin-top: 30px;
}

.detail{
    width: 300px; 
    margin: auto;
    border: 1px solid black;
}

.name, .total-price, .phone, .shipping-fee,
.addresss, .total, .email, .payment-method{
    /*    justify-content: flex-start;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    padding: 10px;
}

.name-field, .total-price-field, .phone-field, .shipping-fee-field, 
.address-field, .total-field, .email-field, .payment-method-field{
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black; 
    border-radius: 3px;
    background-color: grey;
    color: white;
}

.note{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px
}
